body {
    height: 100%;
    margin: 0;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.form-container {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border-radius: 10px;
    height: 35px;
    width: 80%;
    border: none;
}

.form {
    padding: 4px;
}

h1 {
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 60px;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: 'courier', sans-serif;
    color: white;
    font-size: 30px;
    padding-top: 25px;
    padding-bottom: 10px;
    margin: 0;
}

h3 {
    font-family: 'courier', sans-serif;
    color: #8E696D;
    font-size: 20px;
    padding: 25px 0 15px 0;
    margin: 0;
}

.checkbox {
    font-family: 'courier', sans-serif;
    color: #8E696D;
    
}

.food-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    
}

button {
    width: 150px;
    height: 30px;
    margin-top: 40px;
    background-color: #C2989B;
    border-radius: 20px;
    border: none;
    color: white;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #D8A0B0;
    color: white;
  }

